/* RESET */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    font-weight: 800;
}

p {
    margin-bottom: 15px;
}

b,
strong {
    font-weight: bold;
}

mark {
    padding: 5px 10px;
    background: #eee;
}

ul {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}

small {
    font-size: 0.75em;
    color: #555;
}

a {
    text-decoration: none;
    color: #09f
}

a img {
    border: 0;
}

/* MEDIAS */

object,
embed,
video,
iframe {
    max-width: 100%;
    height: auto;
}

.fontzero {
    font-size: 0;
}

/*BIG TITLE*/
.big_title {
    display: block;
    margin-bottom: 50px;
    border-right: 10px solid #ccc;

}

.big_title h1 {
    font-size: 2em;
    font-weight: bold;
    color: #fcb823;
    text-transform: uppercase;

}

.big_title .tagline {
    padding-left: 5px;
    color: #ccc;
}

/* BOX GERAL  */
.container {
    float: left;
    width: 100%;
}

.content {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    width: 80%;
    max-width: 1200px;
}

.clear {
    clear: both;
}



/* HEADER  */
.main_header {
    font-size: 0.87em;
    background-color: black;
}

.main_logo {
    float: left;
}

.main_header .content {
    padding: 20px 0;
}

.main_menu {
    float: right;
    margin-top: 15px;
}

.main_menu li {
    display: inline-block;
}

.main_menu a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.main_menu .especial {
    background: #dc0a17;
}

.main_menu a:hover {
    background: #e9a103;
}

/* RATIO */
.ratio {
    position: relative;
    padding-bottom: 56.25%;
    float: left;
    width: 100%;
    height: 0;
}

.media {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* DESTAQUE */

.destaque {
    background-color: #000;
    background-image: url(../img/banner_destaque.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    color: #fff;
    border-bottom-width: 10px;
    border-bottom-color: #fcb823;
    border-bottom-style: solid;
}

.destaque header {
    float: left;
    width: 50%;
    min-width: 250px;
    padding-right: 10%;
}

.destaque header h1 {
    font-weight: bold;
    font-size: 1.9em;
    margin-top: 20px;
}

.destaque .tagline {
    margin: 35px 0;
    font-size: 0.875em;
}

.destaque_video {
    float: right;
    width: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
}

/* EQUIPAMENTO*/

.equipamento article {
    float: left;
    width: 22.75%;
    margin-right: 3%;
}

.equipamento article:last-of-type {
    margin-right: 0;
}

.equipamento article h1 {
    font-size: 1.4em;
    font-weight: 600;
    color: #404040;
    margin-top: 20px;

}

.equipamento article p {
    font-size: 0.875em;
    margin: 10px 0;
}

.promocao {
    background: #181818;
    text-align: center;
    color: #fff;
}

.promocao a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background: #dc0a17;
    transition: background 0.5s ease;
}

.promocao a:hover {
    background: #ab0812;
    border-color: #7a060d;
}

/*TREINOS*/

.treinos_tipo {
    float: left;
    width: 65%;
    padding-right: 3%;
}

.treinos_tipo article {
    float: left;
    width: 48%;
    margin: 0 4% 4% 0;
}

.treinos_tipo article:nth-of-type(2n+0) {
    margin-right: 0;
}


.treinos_tipo article img {
    float: left;
    margin-right: 15px;
    width: 50%;
}

.treinos_tipo article h1 {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 600;
    color: #404040;
}

.treinos_tipo article p {
    font-size: 0.875em;

}

.treinos_comentarios {
    float: right;
    width: 35%;
    padding: 30px;
    background: #eee;
    border-bottom-width: 10px;
    border-bottom-color: #fcb823;
    border-bottom-style: solid;
}


.treinos_comentarios .title {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #ccc;
    margin: 0 35px;

}

.comentario {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.comentario img {
    float: left;
    width: 20%;
    margin-right: 20px;
    border-radius: 50%;
}

.comentario h1 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;

}

.comentario p {
    font-size: 0.8em;

}

/* CONTATO*/


.contato{
    background:#DFDFDF;	
   }
   .contato header{
   float:left;
   width:30%;
   min-width:300px;
   color:#555;		
   }
   .contato header h1{
   font-size:2em;
   text-transform:uppercase;
   font-weight:bold;
   color:#888;
   margin-bottom:20px;	
   }
   
   
   .contato_form{
   float:right;
   width:70%;
   min-width:300px;
   padding-left:5%;	
   }
   .contato_form label{
   display:block;
   width:100%;
   margin-bottom:20px;	
   }
   
   .contato_form span{
       font-size:0.7em;
       display:block;
       text-transform:uppercase;
       font-weight:600;
       margin-bottom:10px;	
   }
   
    .contato_form .medium{
       float:left;
       width: 48%;
    }
    .contato_form .medium:first-of-type{
       margin-right:4%; 
    }
   .contato_form input,
   .contato_form textarea{
       width:100%;	
       border:none;
       background:#ccc;
       padding:10px;
       font-family:'Arial',sans-serif;
   }
   .contato_form .btn{
       border:none;
       background:#fcb823;
       padding:15px 25px;
       text-transform:uppercase;
       font-weight:600;
       font-size:0.875em;
       float:right;
       margin-top:10px;
       cursor:pointer;	
   }
   
   .contato_form .btn:hover{
       background:#FFCC99;	
   }
   .form_load{
   float:right;
   margin-top:25px;
   margin-left:20px;
   /*display:none;	*/
   }

   /*FOOTER*/

.main_footer{
	background: #181818;
	text-align:center;
	color:#CCC;
	border-bottom-width: 10px;
border-bottom-color:#fcb823;
border-bottom-style: solid; 
		
}
.main_footer .ftcontent{
	background:#050D49;
	padding:30px;	
}


.main_footer .title{
	font-weight:bold;
	font-size:2em;
		
}

.main_footer .subtitle{
	font-weight:bold;
	font-size:1.4em;
	text-transform:uppercase;
		
}
.main_footer_social{
	display:block;
	margin-top:20px;	
}
.main_footer_social li{
display:inline-block;
margin:0 5px;	
}

.main_footer_social a{
color:#fff;	
test-transform:uppercase;
font-size:0.8em;
}

.main_footer_social a:hover{
	text-decoration:underline;
}
.menu_navegacao{
display:none;
text-transform:uppercase;	
color:#FFFFFF;
}